.header-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  margin-bottom: 6em;
  width: 100vw;
}

.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#header-logo {
  width: 145%;
}

.slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Gloria Hallelujah", sans-serif;
  padding: 1em 1em;
  border-radius: 25px;
  color: green;
  text-shadow: 0 0 30px rgb(15, 247, 61);
  border: 2px solid green;
  box-shadow: 0 0 15px rgb(42, 167, 82);
  line-height: 1;
}

.mode-toggle-button {
  margin-left: 80em;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid blue;
}

.mode-toggle-button:hover {
  box-shadow: 0 0 20px rgb(44, 167, 223);
  border: 2px solid rgb(44, 167, 223);
}

.toggle-btn {
  margin-right: 5em;
}

.light-mode .mode-toggle-button {
  background-color: #f1f1f1;
}

.dark-mode .mode-toggle-button {
  background-color: #222;
  color: #fff;
}

@media (max-width: 1660px) {
  .header-container {
    line-height: 1em;
  }

  .header-content {
    flex-direction: column;
  }

  .mode-toggle-button {
    margin-left: 10em;
  }

  #header-logo {
    transform: translateX(-4.5em);
  }
}

@media (max-width: 560px) {
  .header-content {
    flex-direction: column;
    margin-bottom: 2em;
  }

  .logo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #header-logo {
    width: 75%;
    margin: 0;
  }
}
