
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.894);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.light-mode {
  background-color: #fff;
}

body.dark-mode {
  background-color: rgba(0, 0, 0, 0.894);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 100vh;
}

.light-mode {
  background-color: #fff;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 20px;
}


